<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sematic view</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sematic view</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5de92c61b5d4459e95495d6223f22ca0.png" alt="Sematic view" usemap="#id-5de92c61b5d4459e95495d6223f22ca0map"/>
			   <map name="id-5de92c61b5d4459e95495d6223f22ca0map">
				  		<area shape="rect" coords="586,682,671,713" href="../elements/id-0960458cbc8f4d089259291a773ad31f.html"  target="element">
				  		<area shape="rect" coords="168,640,251,676" href="../elements/id-557377da4518483383f1ec4ad501e91b.html"  target="element">
				  		<area shape="rect" coords="862,59,945,95" href="../elements/id-1cc626ef8cf54e148bc5d29df6102a11.html"  target="element">
				  		<area shape="rect" coords="837,10,920,46" href="../elements/id-0e572a39b8c9426b85b6617b73e018d3.html"  target="element">
				  		<area shape="rect" coords="742,10,825,46" href="../elements/id-6b7d89ee1dec40e8868c56f1a0a9b7ed.html"  target="element">
				  		<area shape="rect" coords="706,59,789,95" href="../elements/id-0a1c7582c5b241138c6784cabaa443bb.html"  target="element">
				  		<area shape="rect" coords="1118,163,1227,200" href="../elements/id-0d314902d18e4fae82327eab871121b2.html"  target="element">
				  		<area shape="rect" coords="1118,118,1227,155" href="../elements/id-4f052829c7a54cbd900c5fa99352b42b.html"  target="element">
				  		<area shape="rect" coords="959,259,1115,296" href="../elements/id-ac1dc257e22d4ad28687fddd94a63ebf.html"  target="element">
				  		<area shape="rect" coords="966,349,1049,386" href="../elements/id-c2f8ac6da36a45b18d23441456d9078c.html"  target="element">
				  		<area shape="rect" coords="959,301,1056,338" href="../elements/id-db0ad7c8849b463389c88116a1396c9c.html"  target="element">
				  		<area shape="rect" coords="574,730,659,785" href="../elements/id-383dd62ba96b4076ba7d71b5b627e559.html"  target="element">
				  		<area shape="rect" coords="562,802,647,857" href="../elements/id-e588caf0442545069fc144f33d42cb2f.html"  target="element">
				  		<area shape="rect" coords="454,802,550,857" href="../elements/id-804cd896c8b4464496ce34e3be75c155.html"  target="element">
				  		<area shape="rect" coords="358,802,440,857" href="../elements/id-65556feec63b443da5c997153a76ee25.html"  target="element">
				  		<area shape="rect" coords="244,784,352,839" href="../elements/id-c71db61285104a15ba9d77280dfb481a.html"  target="element">
				  		<area shape="rect" coords="190,718,286,773" href="../elements/id-83450a8716b04de99d612d7ae0e8e2d1.html"  target="element">
				  		<area shape="rect" coords="1060,466,1145,509" href="../elements/id-d89260a03adb404da2f017a74a592aef.html"  target="element">
				  		<area shape="rect" coords="778,730,875,785" href="../elements/id-1a27c781075e426b84feb883f07f2c91.html"  target="element">
				  		<area shape="rect" coords="1054,544,1151,599" href="../elements/id-ba38f26fd9ad46ee827679ebfc328e8c.html"  target="element">
				  		<area shape="rect" coords="1042,616,1139,671" href="../elements/id-048befa8a7f34b8794d136279e621291.html"  target="element">
				  		<area shape="rect" coords="922,598,1019,653" href="../elements/id-262a267f0d4f4d21968351aa360c57d6.html"  target="element">
				  		<area shape="rect" coords="874,670,1007,725" href="../elements/id-fc40ae0378464da5b36524028c148bbf.html"  target="element">
				  		<area shape="rect" coords="742,640,838,695" href="../elements/id-66347dfe08c54a23ad8cbcc61661487e.html"  target="element">
				  		<area shape="rect" coords="706,574,802,629" href="../elements/id-8811a5df2ad843b18434cc3c083e7e60.html"  target="element">
				  		<area shape="rect" coords="838,442,958,497" href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html"  target="element">
				  		<area shape="rect" coords="10,346,130,401" href="../elements/id-b023c93c981d425090a5f1f31782572e.html"  target="element">
				  		<area shape="rect" coords="392,646,512,701" href="../elements/id-3c57cbffce084509bea1ae56d3540076.html"  target="element">
				  		<area shape="rect" coords="767,262,887,317" href="../elements/id-53a37293d08b49b7849797577b1129c4.html"  target="element">
				  		<area shape="rect" coords="957,154,1077,209" href="../elements/id-97b727c622f5481bbaf1479215fa5de0.html"  target="element">
				  		<area shape="rect" coords="598,250,718,305" href="../elements/id-f15a280699f5415bbf837728b09919df.html"  target="element">
				  		<area shape="rect" coords="273,538,393,593" href="../elements/id-156767e3b4a54a87a43022d79d84825d.html"  target="element">
				  		<area shape="rect" coords="214,340,334,395" href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html"  target="element">
				  		<area shape="rect" coords="598,190,718,245" href="../elements/id-04fbcbc69a4f4648adeb501c9546e81e.html"  target="element">
				  		<area shape="rect" coords="502,538,622,593" href="../elements/id-0e552c5c7de548a4ba1ea1367b34d599.html"  target="element">
				  		<area shape="rect" coords="406,226,526,281" href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html"  target="element">
				  		<area shape="rect" coords="238,136,358,191" href="../elements/id-367abaf6d5e74d1883a5f43e3e46deb6.html"  target="element">
				  		<area shape="rect" coords="766,190,886,245" href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Visning med fokus p&#229; sematikk, av dette kapabilitetskart</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
											    <td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-367abaf6d5e74d1883a5f43e3e46deb6.html" target="element"> (eira) Data </a> </td>
											    <td> <a href="../elements/id-367abaf6d5e74d1883a5f43e3e46deb6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element"> (eira) Dataset </a> </td>
											    <td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e552c5c7de548a4ba1ea1367b34d599.html" target="element"> (eira) Dataset Catalogue </a> </td>
											    <td> <a href="../elements/id-0e552c5c7de548a4ba1ea1367b34d599.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04fbcbc69a4f4648adeb501c9546e81e.html" target="element"> (eira) Master Data </a> </td>
											    <td> <a href="../elements/id-04fbcbc69a4f4648adeb501c9546e81e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html" target="element"> (eira) Metadata </a> </td>
											    <td> <a href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-156767e3b4a54a87a43022d79d84825d.html" target="element"> (eira) Metadata Catalogue </a> </td>
											    <td> <a href="../elements/id-156767e3b4a54a87a43022d79d84825d.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f15a280699f5415bbf837728b09919df.html" target="element"> (eira) Reference Data </a> </td>
											    <td> <a href="../elements/id-f15a280699f5415bbf837728b09919df.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97b727c622f5481bbaf1479215fa5de0.html" target="element"> Nasjonale grunndata </a> </td>
											    <td> <a href="../elements/id-97b727c622f5481bbaf1479215fa5de0.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53a37293d08b49b7849797577b1129c4.html" target="element"> Felles kodeverk </a> </td>
											    <td> <a href="../elements/id-53a37293d08b49b7849797577b1129c4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
											    <td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b023c93c981d425090a5f1f31782572e.html" target="element"> (eira) Data Model </a> </td>
											    <td> <a href="../elements/id-b023c93c981d425090a5f1f31782572e.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
											    <td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8811a5df2ad843b18434cc3c083e7e60.html" target="element"> &lt;&lt;CPSV-AP-NO&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-8811a5df2ad843b18434cc3c083e7e60.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66347dfe08c54a23ad8cbcc61661487e.html" target="element"> &lt;&lt;DCAT-AP-NO&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-66347dfe08c54a23ad8cbcc61661487e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc40ae0378464da5b36524028c148bbf.html" target="element"> &lt;&lt;ModellDCAT-AP-NO&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-fc40ae0378464da5b36524028c148bbf.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-262a267f0d4f4d21968351aa360c57d6.html" target="element"> &lt;&lt;SKOS-AP-NO-Begrep&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-262a267f0d4f4d21968351aa360c57d6.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-048befa8a7f34b8794d136279e621291.html" target="element"> &lt;&lt;TBX-AP-NO&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-048befa8a7f34b8794d136279e621291.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ba38f26fd9ad46ee827679ebfc328e8c.html" target="element"> &lt;&lt;XKOS-AP-NO&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-ba38f26fd9ad46ee827679ebfc328e8c.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a27c781075e426b84feb883f07f2c91.html" target="element"> &lt;&lt;DQV-AP-NO&gt; </a> </td>
											    <td> <a href="../elements/id-1a27c781075e426b84feb883f07f2c91.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d89260a03adb404da2f017a74a592aef.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-d89260a03adb404da2f017a74a592aef.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-83450a8716b04de99d612d7ae0e8e2d1.html" target="element"> &lt;&lt;Data. Altinn&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-83450a8716b04de99d612d7ae0e8e2d1.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c71db61285104a15ba9d77280dfb481a.html" target="element"> &lt;&lt;Felles datakatalog&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-c71db61285104a15ba9d77280dfb481a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65556feec63b443da5c997153a76ee25.html" target="element"> &lt;&lt;Geonorge&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-65556feec63b443da5c997153a76ee25.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-804cd896c8b4464496ce34e3be75c155.html" target="element"> &lt;&lt;Termportalen&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-804cd896c8b4464496ce34e3be75c155.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e588caf0442545069fc144f33d42cb2f.html" target="element"> &lt;&lt;Datahotell&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-e588caf0442545069fc144f33d42cb2f.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-383dd62ba96b4076ba7d71b5b627e559.html" target="element"> &lt;&lt;Helsedata&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-383dd62ba96b4076ba7d71b5b627e559.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db0ad7c8849b463389c88116a1396c9c.html" target="element"> &lt;&lt;LOS&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-db0ad7c8849b463389c88116a1396c9c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2f8ac6da36a45b18d23441456d9078c.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-c2f8ac6da36a45b18d23441456d9078c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac1dc257e22d4ad28687fddd94a63ebf.html" target="element"> &lt;&lt;Kontrollerte vokabularer fra EU&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-ac1dc257e22d4ad28687fddd94a63ebf.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f052829c7a54cbd900c5fa99352b42b.html" target="element"> &lt;&lt;FREG&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-4f052829c7a54cbd900c5fa99352b42b.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d314902d18e4fae82327eab871121b2.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-0d314902d18e4fae82327eab871121b2.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a1c7582c5b241138c6784cabaa443bb.html" target="element"> EIF R37 </a> </td>
											    <td> <a href="../elements/id-0a1c7582c5b241138c6784cabaa443bb.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b7d89ee1dec40e8868c56f1a0a9b7ed.html" target="element"> EIF R38 </a> </td>
											    <td> <a href="../elements/id-6b7d89ee1dec40e8868c56f1a0a9b7ed.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e572a39b8c9426b85b6617b73e018d3.html" target="element"> EIF R39 </a> </td>
											    <td> <a href="../elements/id-0e572a39b8c9426b85b6617b73e018d3.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cc626ef8cf54e148bc5d29df6102a11.html" target="element"> EIF R40 </a> </td>
											    <td> <a href="../elements/id-1cc626ef8cf54e148bc5d29df6102a11.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-557377da4518483383f1ec4ad501e91b.html" target="element"> EIF R44 </a> </td>
											    <td> <a href="../elements/id-557377da4518483383f1ec4ad501e91b.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0960458cbc8f4d089259291a773ad31f.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
											    <td> <a href="../elements/id-0960458cbc8f4d089259291a773ad31f.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-fd72e29e0da94128bdffda2004c98680.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd72e29e0da94128bdffda2004c98680.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
																		<td> <a href="../elements/id-04fbcbc69a4f4648adeb501c9546e81e.html" target="element"> (eira) Master Data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f0e43ce10a6749e2836b23663c0cad14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0e43ce10a6749e2836b23663c0cad14.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
																		<td> <a href="../elements/id-0a1c7582c5b241138c6784cabaa443bb.html" target="element"> EIF R37 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0931632a77164bc68455c34bac26e4d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0931632a77164bc68455c34bac26e4d1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
																		<td> <a href="../elements/id-6b7d89ee1dec40e8868c56f1a0a9b7ed.html" target="element"> EIF R38 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-544cc8bc89d4408e8442ee2e04f815c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-544cc8bc89d4408e8442ee2e04f815c2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
																		<td> <a href="../elements/id-0e572a39b8c9426b85b6617b73e018d3.html" target="element"> EIF R39 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd697f4ac02e429393ada9c0f0438563.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd697f4ac02e429393ada9c0f0438563.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
																		<td> <a href="../elements/id-1cc626ef8cf54e148bc5d29df6102a11.html" target="element"> EIF R40 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eb610c266ef440c481340db53a8dcbe9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb610c266ef440c481340db53a8dcbe9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element"> (eira) Dataset </a> </td>
																		<td> <a href="../elements/id-367abaf6d5e74d1883a5f43e3e46deb6.html" target="element"> (eira) Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-273efc546d7c450d990c403cc0685059.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-273efc546d7c450d990c403cc0685059.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e552c5c7de548a4ba1ea1367b34d599.html" target="element"> (eira) Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element"> (eira) Dataset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a0b1f3756a649018445a9449ae12ba4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a0b1f3756a649018445a9449ae12ba4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0e552c5c7de548a4ba1ea1367b34d599.html" target="element"> (eira) Dataset Catalogue </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1f29b12ab5d44c8bba0f648388dfc753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f29b12ab5d44c8bba0f648388dfc753.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04fbcbc69a4f4648adeb501c9546e81e.html" target="element"> (eira) Master Data </a> </td>
																		<td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element"> (eira) Dataset </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e0132defd98485b90dcc0dc4323a4c3.html" target="element"> beskriver </a> </td>
																		<td> <a href="../elements/id-7e0132defd98485b90dcc0dc4323a4c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html" target="element"> (eira) Metadata </a> </td>
																		<td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element"> (eira) Dataset </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5be28a9680a45d989c64c1b6bea9f25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5be28a9680a45d989c64c1b6bea9f25.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html" target="element"> (eira) Metadata </a> </td>
																		<td> <a href="../elements/id-367abaf6d5e74d1883a5f43e3e46deb6.html" target="element"> (eira) Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a3bad3061c24dc6ab43492de2c63745.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a3bad3061c24dc6ab43492de2c63745.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-156767e3b4a54a87a43022d79d84825d.html" target="element"> (eira) Metadata Catalogue </a> </td>
																		<td> <a href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html" target="element"> (eira) Metadata </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d413301bf154266a83d7847e9c2b81a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d413301bf154266a83d7847e9c2b81a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-156767e3b4a54a87a43022d79d84825d.html" target="element"> (eira) Metadata Catalogue </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a6a78057ef04d6dae33d0fab806eb1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a6a78057ef04d6dae33d0fab806eb1d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f15a280699f5415bbf837728b09919df.html" target="element"> (eira) Reference Data </a> </td>
																		<td> <a href="../elements/id-c590d5debf4c44949e5f891b4d362d30.html" target="element"> (eira) Dataset </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ecee18b962b1455b9bc541f01deaf7ae.html" target="element"> ????? </a> </td>
																		<td> <a href="../elements/id-ecee18b962b1455b9bc541f01deaf7ae.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97b727c622f5481bbaf1479215fa5de0.html" target="element"> Nasjonale grunndata </a> </td>
																		<td> <a href="../elements/id-a39d1a86251a47119d2349f8f5e0c346.html" target="element"> (eira) Base Registry </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5cccbe36d4c9424f86d9cf616af03630.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cccbe36d4c9424f86d9cf616af03630.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-53a37293d08b49b7849797577b1129c4.html" target="element"> Felles kodeverk </a> </td>
																		<td> <a href="../elements/id-f15a280699f5415bbf837728b09919df.html" target="element"> (eira) Reference Data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-30b5ef23da64478ba407a1fbca8b53f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30b5ef23da64478ba407a1fbca8b53f3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																		<td> <a href="../elements/id-156767e3b4a54a87a43022d79d84825d.html" target="element"> (eira) Metadata Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46863cbe24694a508f22aa4970efd548.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46863cbe24694a508f22aa4970efd548.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																		<td> <a href="../elements/id-0e552c5c7de548a4ba1ea1367b34d599.html" target="element"> (eira) Dataset Catalogue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c126def35fb44d59431e2e1ee3d8e2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c126def35fb44d59431e2e1ee3d8e2a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																		<td> <a href="../elements/id-557377da4518483383f1ec4ad501e91b.html" target="element"> EIF R44 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-530bff39b4e74101aa23d435cbfe4aa9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-530bff39b4e74101aa23d435cbfe4aa9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b023c93c981d425090a5f1f31782572e.html" target="element"> (eira) Data Model </a> </td>
																		<td> <a href="../elements/id-5175604026294ed1a0c2ea7506e08a3c.html" target="element"> (eira) Metadata </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-403895efcfa1426eba62237c9ba281f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-403895efcfa1426eba62237c9ba281f9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8811a5df2ad843b18434cc3c083e7e60.html" target="element"> &lt;&lt;CPSV-AP-NO&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5d29fe0214f4fe2870308bfcabf4b3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5d29fe0214f4fe2870308bfcabf4b3a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-66347dfe08c54a23ad8cbcc61661487e.html" target="element"> &lt;&lt;DCAT-AP-NO&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e79f5c4738564e5d99e93d423d2ff8c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e79f5c4738564e5d99e93d423d2ff8c9.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fc40ae0378464da5b36524028c148bbf.html" target="element"> &lt;&lt;ModellDCAT-AP-NO&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1110ec0a50984e0abf06409770617129.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1110ec0a50984e0abf06409770617129.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-262a267f0d4f4d21968351aa360c57d6.html" target="element"> &lt;&lt;SKOS-AP-NO-Begrep&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dceb49262409469cb6e64c1956623706.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dceb49262409469cb6e64c1956623706.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-048befa8a7f34b8794d136279e621291.html" target="element"> &lt;&lt;TBX-AP-NO&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c054ad9e190149d09f99fca1fa7ae73d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c054ad9e190149d09f99fca1fa7ae73d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba38f26fd9ad46ee827679ebfc328e8c.html" target="element"> &lt;&lt;XKOS-AP-NO&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf8e2694a71e4111b771b1dec0fd96b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf8e2694a71e4111b771b1dec0fd96b5.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1a27c781075e426b84feb883f07f2c91.html" target="element"> &lt;&lt;DQV-AP-NO&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5c5c7295fbf454987737f81540693b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5c5c7295fbf454987737f81540693b7.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d89260a03adb404da2f017a74a592aef.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-1ca4d745dd4e489383b968e5ef0eb78a.html" target="element"> (eira) Interoperability Specification </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-516453efd2a44109b6cac16999ab464a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-516453efd2a44109b6cac16999ab464a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-83450a8716b04de99d612d7ae0e8e2d1.html" target="element"> &lt;&lt;Data. Altinn&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d8e95d573a24600b401a1abaee4d764.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d8e95d573a24600b401a1abaee4d764.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c71db61285104a15ba9d77280dfb481a.html" target="element"> &lt;&lt;Felles datakatalog&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5e3d3882f1aa45e28c60df8660ed2197.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e3d3882f1aa45e28c60df8660ed2197.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65556feec63b443da5c997153a76ee25.html" target="element"> &lt;&lt;Geonorge&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dfc471f647b3418cb4840462d6501ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfc471f647b3418cb4840462d6501ec4.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-804cd896c8b4464496ce34e3be75c155.html" target="element"> &lt;&lt;Termportalen&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d5c7c16773d544fbbf1843d3f9b21bcb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5c7c16773d544fbbf1843d3f9b21bcb.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e588caf0442545069fc144f33d42cb2f.html" target="element"> &lt;&lt;Datahotell&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5fcd964946644708b71a5059888e6af3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fcd964946644708b71a5059888e6af3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-383dd62ba96b4076ba7d71b5b627e559.html" target="element"> &lt;&lt;Helsedata&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bf471f3d279a4542a26b8b3a418bc344.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf471f3d279a4542a26b8b3a418bc344.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-db0ad7c8849b463389c88116a1396c9c.html" target="element"> &lt;&lt;LOS&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-53a37293d08b49b7849797577b1129c4.html" target="element"> Felles kodeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-00a32a23021745d289ac74b37bffc75f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00a32a23021745d289ac74b37bffc75f.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2f8ac6da36a45b18d23441456d9078c.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-53a37293d08b49b7849797577b1129c4.html" target="element"> Felles kodeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9155e0c5ef414c7a9d37d6c18f0d7d12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9155e0c5ef414c7a9d37d6c18f0d7d12.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac1dc257e22d4ad28687fddd94a63ebf.html" target="element"> &lt;&lt;Kontrollerte vokabularer fra EU&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-53a37293d08b49b7849797577b1129c4.html" target="element"> Felles kodeverk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66eae5ef8e9543359452e893ec7ffa64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66eae5ef8e9543359452e893ec7ffa64.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4f052829c7a54cbd900c5fa99352b42b.html" target="element"> &lt;&lt;FREG&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-97b727c622f5481bbaf1479215fa5de0.html" target="element"> Nasjonale grunndata </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6e62868710194224bbce9235ff398081.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e62868710194224bbce9235ff398081.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d314902d18e4fae82327eab871121b2.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-97b727c622f5481bbaf1479215fa5de0.html" target="element"> Nasjonale grunndata </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b0bc710df12a4a0fa6fb632b80100a8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0bc710df12a4a0fa6fb632b80100a8d.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0960458cbc8f4d089259291a773ad31f.html" target="element"> &lt;&lt;...&gt;&gt; </a> </td>
																		<td> <a href="../elements/id-3c57cbffce084509bea1ae56d3540076.html" target="element"> (eira) Data Catalog </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>